@model List<Contractor>

<div>
    <div>
        <div>
            <h1>Contractors</h1>
        </div>
    </div>
</div>



<table>
    <thead>
    <tr>
        <th>Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var obj in Model.OrderBy(x => x.ShortName))
    {
    <tr>
        <td style="color: @obj.Color;">@obj.ShortName</td>
    </tr>
    }
    </tbody>

</table>