@model fyropinonet.Models.AddTaskViewModel

<form method="post">

    <div>
        <h1>Add Task</h1>

        <div>
            
            <div>
                <label for="contractorSelect" class="form-label">Select Contractor</label>
                <select multiple="multiple" id="contractorSelect" class="form-select" asp-items="Model.ContractorsSelectListItems"
                        asp-for="SelectedContractorIdList">
                </select>
            </div>
            
            <div>
                <label for="nameInput" class="form-label">Name</label>
                <input id="nameInput" type="text" class="form-control" asp-for="Name"/>
            </div>
            
            <div>
                <label for="startDateInput" class="form-label">Start Date</label>
                <input id="startDateInput" type="datetime-local" class="form-control" asp-for="StartDate"/>
            </div>

            <div>
                <label for="endDateInput" class="form-label">End Date</label>
                <input id="endDateInput" type="datetime-local" class="form-control" asp-for="EndDate"/>
            </div>
            
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>

</form>