<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

<div>
    <h1>Calendar</h1>
</div>

<div class="calendar-view__calendar-wrapper">
    <div>
        <button id="calendarMoveBackwards" onclick="calendarMoveBackwards();">
            <span>
                Prev
            </span>
        </button>

        <button id="calendarMoveForward" onclick="calendarMoveForwards();">
            <span>
                Next
            </span>
        </button>
    </div>

    <div id="fullCalendar">
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
    var calendarEl;
    var calendar;

    document.addEventListener('DOMContentLoaded', function() {
        calendarEl = document.getElementById('fullCalendar');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });

        calendar.render();
        initialFetchCalendarData();
    });

    function initialFetchCalendarData() {
        var year = calendar.getDate().getFullYear();
        var month = calendar.getDate().getMonth() + 1;

        fetchCalendarDataByYearAndMonth(year, month);
    }

    function fetchCalendarDataByYearAndMonth(year, month) {

        $.ajax({
            type: "GET",
            url: '@Url.Action("FetchCalendarDataByYearAndMonth", "Task")',
            data: {year: year, month: month},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunction,
            error: errorFunction
        });
    }

    function successFunction(tasks) {
    console.log(tasks)
        calendar.removeAllEvents();

        for (let i = 0; i < tasks.length; i++) {
            calendar.addEvent({
                title: tasks[i].title,
                start: tasks[i].start,
                end: tasks[i].end,
                backgroundColor: tasks[i].color, 
                borderColor: tasks[i].color 
            });
        }
    }

    function errorFunction() {
        console.log("Error fetching calendar data.");
    }

    function calendarMoveForwards() {
        calendar.next();

        var year = calendar.getDate().getFullYear();
        var month = calendar.getDate().getMonth() + 1;

        fetchCalendarDataByYearAndMonth(year, month);
    }

    function calendarMoveBackwards() {
        calendar.prev();

        var year = calendar.getDate().getFullYear();
        var month = calendar.getDate().getMonth() + 1;

        fetchCalendarDataByYearAndMonth(year, month);
    }
</script>
}
